:root {
  --primary_color: #111010;
  --body_color: #000000;
  --nav_color: #0A0A0A;
  --global_font: "Montserrat", sans-serif;
  --global_font_size: 16px;
  --global_font_weight: 400;
  --header_height: 70px; }

body {
  font-family: var(--global_font);
  font-size: var(--global_font_size);
  font-weight: var(--global_font_weight);
  color: var(--body_color);
  font-optical-sizing: auto;
  font-style: normal; }

@media (min-width: 1600px) {
  .container {
    max-width: 1482px; } }
@media (min-width: 1800px) {
  .container {
    max-width: 1682px; } }

.btn {
  min-height: 52px;
  min-width: 180px;
  font-weight: 700;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

button {
  background-color: transparent;
  border: none;
  padding: 0; }

a {
  text-decoration: none; }

picture {
  display: block; }

:root {
  --primary_color: #111010;
  --body_color: #000000;
  --nav_color: #0A0A0A;
  --global_font: "Montserrat", sans-serif;
  --global_font_size: 16px;
  --global_font_weight: 400;
  --header_height: 70px; }

.main .section.section-banner .banner-image {
  height: 500px;
  object-fit: cover; }
  @media (min-width: 1600px) {
    .main .section.section-banner .banner-image {
      height: auto; } }
.main .section:not(.section-banner) {
  padding: 60px 0; }
  @media (min-width: 1200px) {
    .main .section:not(.section-banner) {
      padding: 100px 0; } }
.main .section .banner-container .banner-content {
  background-color: rgba(0, 0, 0, 0.36);
  padding: 1rem; }
  @media (min-width: 576px) {
    .main .section .banner-container .banner-content {
      padding: 2.5rem; } }
  .main .section .banner-container .banner-content h2 {
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0.75rem; }
    @media (min-width: 576px) {
      .main .section .banner-container .banner-content h2 {
        line-height: 3rem; } }
    @media (min-width: 1800px) {
      .main .section .banner-container .banner-content h2 {
        font-size: 3rem;
        margin-bottom: 1.75rem; } }
  .main .section .banner-container .banner-content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #ECECEC;
    margin-bottom: 2rem; }
    @media (min-width: 1800px) {
      .main .section .banner-container .banner-content p {
        max-width: 87%;
        margin-bottom: 4rem; } }
.main .section .section-title {
  font-weight: 700;
  line-height: 2rem; }
  .main .section .section-title::after {
    content: '';
    background-color: #c4c4c4;
    height: 5px;
    width: 150px;
    display: block;
    margin: 1.25rem auto; }
    @media (min-width: 1800px) {
      .main .section .section-title::after {
        font-size: 3rem;
        margin: 2rem auto; } }
  @media (min-width: 1800px) {
    .main .section .section-title {
      font-size: 3rem; } }
.main .section .section-sub-head {
  color: #616161;
  font-size: 1.25rem;
  line-height: 1.75rem; }
.main .section.section-products .products-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  grid-auto-rows: 350px; }
  @media (min-width: 376px) {
    .main .section.section-products .products-list {
      grid-auto-rows: 250px; } }
  @media (min-width: 768px) {
    .main .section.section-products .products-list {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 350px; } }
  @media (min-width: 1400px) {
    .main .section.section-products .products-list {
      grid-template-columns: 1.2fr 0.8fr 1fr;
      grid-auto-rows: 300px; } }
  @media (min-width: 1800px) {
    .main .section.section-products .products-list {
      grid-template-columns: 1.3fr 0.7fr 1fr;
      grid-auto-rows: 350px; } }
  @media (min-width: 1400px) {
    .main .section.section-products .products-list :nth-child(1),
    .main .section.section-products .products-list :nth-child(2) {
      grid-row: span 2; } }
  .main .section.section-products .products-list .product {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 376px) {
      .main .section.section-products .products-list .product {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-direction: normal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; } }
    @media (min-width: 768px) {
      .main .section.section-products .products-list .product {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .main .section.section-products .products-list .product:hover img {
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    @media (max-width: 991px) {
      .main .section.section-products .products-list .product .product-img-container,
      .main .section.section-products .products-list .product .product-content {
        flex: 1 1 100%; } }
    @media (max-width: 375px) {
      .main .section.section-products .products-list .product .product-img-container,
      .main .section.section-products .products-list .product .product-content {
        flex: auto; } }
    .main .section.section-products .products-list .product .product-img-container img {
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out; }
    .main .section.section-products .products-list .product .product-content {
      background-color: var(--primary_color);
      border: 1px solid #fff; }
      .main .section.section-products .products-list .product .product-content h4 {
        font-weight: 600; }
      .main .section.section-products .products-list .product .product-content p {
        color: #B4B4B4; }
      @media (max-width: 991px) {
        .main .section.section-products .products-list .product .product-content {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -moz-box-direction: normal;
          -moz-box-orient: vertical;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center; } }
      @media (min-width: 768px) {
        .main .section.section-products .products-list .product .product-content {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1rem;
          width: calc(100% - 2rem);
          margin: 0 auto; } }
@media (max-width: 375px) {
  .main .section.section-projects .project {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }
@media (max-width: 575px) {
  .main .section.section-projects .project {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    column-gap: 1rem; } }
.main .section.section-projects .project picture,
.main .section.section-projects .project figcaption {
  flex: 1 1 100%; }
.main .section.section-projects .project .h4, .main .section.section-projects .project p {
  font-weight: 600; }
@media (max-width: 1199px) {
  .main {
    padding-top: var(--header_height); } }

:root {
  --primary_color: #111010;
  --body_color: #000000;
  --nav_color: #0A0A0A;
  --global_font: "Montserrat", sans-serif;
  --global_font_size: 16px;
  --global_font_weight: 400;
  --header_height: 70px; }

.btn-app-white {
  background-color: #fff; }
  .btn-app-white:hover, .btn-app-white:focus, .btn-app-white:active {
    background-color: var(--primary_color) !important;
    color: #fff !important; }

.btn-app-primary {
  background-color: var(--primary_color);
  color: #fff; }
  .btn-app-primary:hover, .btn-app-primary:focus, .btn-app-primary:active {
    background-color: #979797 !important;
    border: none !important; }

:root {
  --primary_color: #111010;
  --body_color: #000000;
  --nav_color: #0A0A0A;
  --global_font: "Montserrat", sans-serif;
  --global_font_size: 16px;
  --global_font_weight: 400;
  --header_height: 70px; }

@media (max-width: 1199px) {
  .header {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); } }
@media (min-width: 1200px) {
  .header .header-logo {
    padding-top: 20px; } }
@media (min-width: 1400px) {
  .header .header-logo {
    padding-top: 30px; } }
@media (min-width: 1800px) {
  .header .header-logo {
    padding-top: 40px; } }
.header .header-logo .logo {
  height: 30px; }
  @media (max-width: 1199px) {
    .header .header-logo .logo {
      position: absolute;
      -moz-transform: translateY(35px);
      -o-transform: translateY(35px);
      -ms-transform: translateY(35px);
      -webkit-transform: translateY(35px);
      transform: translateY(35px); } }
  @media (min-width: 576px) {
    .header .header-logo .logo {
      height: 40px; } }
  @media (min-width: 1400px) {
    .header .header-logo .logo {
      height: 50px; } }
  @media (min-width: 1800px) {
    .header .header-logo .logo {
      height: auto; } }
.header .header-nav {
  height: var(--header_height);
  position: relative; }
  @media (max-width: 1399px) {
    .header .header-nav {
      border-bottom: 1px solid #d7d7d7; } }
  .header .header-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .header .header-nav .hamburger {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px; }
    @media (min-width: 1200px) {
      .header .header-nav .hamburger {
        display: none; } }
    .header .header-nav .hamburger span {
      width: 25px;
      height: 3px;
      background: black;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out; }
    .header .header-nav .hamburger.active span:nth-child(1) {
      -moz-transform: rotate(45deg) translateY(11px);
      -o-transform: rotate(45deg) translateY(11px);
      -ms-transform: rotate(45deg) translateY(11px);
      -webkit-transform: rotate(45deg) translateY(11px);
      transform: rotate(45deg) translateY(11px); }
    .header .header-nav .hamburger.active span:nth-child(2) {
      opacity: 0; }
    .header .header-nav .hamburger.active span:nth-child(3) {
      -moz-transform: rotate(-45deg) translateY(-11px);
      -o-transform: rotate(-45deg) translateY(-11px);
      -ms-transform: rotate(-45deg) translateY(-11px);
      -webkit-transform: rotate(-45deg) translateY(-11px);
      transform: rotate(-45deg) translateY(-11px); }
  .header .header-nav .nav-menu ul {
    gap: 2rem; }
    @media (min-width: 1800px) {
      .header .header-nav .nav-menu ul {
        gap: 3rem; } }
    .header .header-nav .nav-menu ul li a {
      color: var(--nav_color);
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }
      .header .header-nav .nav-menu ul li a:hover {
        color: #979797; }
  @media (max-width: 1199px) {
    .header .header-nav .nav-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      transform: translatex(-100%);
      height: calc(100vh - 70px);
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out; }
      .header .header-nav .nav-menu ul {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 2rem 0; } }
  .header .header-nav .nav-menu.active {
    transform: translatex(0); }

:root {
  --primary_color: #111010;
  --body_color: #000000;
  --nav_color: #0A0A0A;
  --global_font: "Montserrat", sans-serif;
  --global_font_size: 16px;
  --global_font_weight: 400;
  --header_height: 70px; }

.footer {
  background-color: var(--primary_color);
  color: #fff;
  padding: 100px 0; }
  .footer .footer-navs h6 {
    font-weight: 600; }
  .footer .footer-navs h6, .footer .footer-navs a, .footer .footer-navs p {
    font-size: 0.875rem;
    line-height: 1.75rem; }
  .footer .footer-navs li a {
    color: #a4a4a4; }
    .footer .footer-navs li a:hover {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
