@import "./variable";
@import "./mixins";

body {
    font-family: $globalFont;
    font-size: $globalFontSize;
    font-weight: $globalFontWeight;
    color: $bodyColor;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    @include respond(3xl) {
        max-width: 1482px;
    }
    @include respond(4xl) {
        max-width: 1682px;
    }
}

.btn {
    min-height: 52px;
    min-width: 180px;
    font-weight: 700;
    border-radius: 0;
    @include transition(all 0.3s ease-in-out);
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

picture {
    display: block;
}