@import './variable';
@import "./mixins";

.footer {
    background-color: $primaryColor;
    color: #fff;
    padding: 100px 0;

    .footer-navs {
        h6 {
            font-weight: 600;
        }
        h6, a, p {
            font-size: 0.875rem;
            line-height: 1.75rem;
        }
        li {
            a {
                color: #a4a4a4;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}