@import './variable';
@import "./mixins";

.header {
    @include respond-max(lg) {
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    }
    .header-logo {
        @include respond(xl) {
            padding-top: 20px;
        }
        @include respond(2xl) {
            padding-top: 30px;
        }
        @include respond(4xl) {
            padding-top: 40px;
        }
        .logo {
            height: 30px;
            @include respond-max(lg) {
                position: absolute;
                @include transform(translateY(35px));
            }
            @include respond(sm) {
                height: 40px;
            }
            @include respond(2xl) {
                height: 50px;
            }
            @include respond(4xl) {
                height: auto;
            }
        }
    }
    .header-nav {
        height: $headerHeight;
        position: relative;
        @include respond-max(xl) {
            border-bottom: 1px solid #d7d7d7;
        }
        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            z-index: 10;
            @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
        }
        .hamburger {
            @include flexbox;
            @include flex-direction(column);
            gap: 5px;
            @include respond(xl) {
                display: none;
            }
            span {
                width: 25px;
                height: 3px;
                background: black;
                @include transition(all 0.3s ease-in-out);
            }
            &.active {
                span:nth-child(1) {
                    @include transform(rotate(45deg) translateY(11px));
                }
                span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    @include transform(rotate(-45deg) translateY(-11px));
                }
            }
        }
        .nav-menu {
            ul {
                gap: 2rem;
                @include respond(4xl) {
                    gap: 3rem;
                }
                li {
                    a {
                        color: $navColor;
                        font-weight: 700;
                        text-transform: uppercase;
                        @include transition(all 0.2s ease-in-out);
                        &:hover {
                            color: #979797;
                        }
                    }
                }
            }
            @include respond-max(lg) {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #fff;
                z-index: 9;
                transform: translatex(-100%);
                height: calc(100vh - 70px);
                @include transition(all 0.3s ease-in-out);
                ul {
                    @include flex-direction(column);
                    @include align-items(center);
                    padding: 2rem 0;
                }
            }
            &.active {
                transform: translatex(0);
            }
        }
    }
}