@import "./variable";
@import "./mixins";

.main {
    .section {
        &.section-banner {
            .banner-image {
                height: 500px;
                object-fit: cover;
                @include respond(3xl) {
                    height: auto;
                }
            }
        }
        &:not(.section-banner) {
            padding: 60px 0;
            @include respond(xl) {
                padding: 100px 0;
            }
        }
        .banner-container {
            .banner-content {
                background-color: rgba(0, 0, 0, 0.36);
                padding: 1rem;
                @include respond(sm) {
                    padding: 2.5rem;
                }
                h2 {
                    font-weight: 700;
                    line-height: 2rem;
                    margin-bottom: 0.75rem;
                    @include respond(sm) {
                        line-height: 3rem;
                    }
                    @include respond(4xl) {
                        font-size: 3rem;
                        margin-bottom: 1.75rem;
                    }
                }
                p {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    color: #ECECEC;
                    margin-bottom: 2rem;
                    @include respond(4xl) {
                        max-width: 87%;
                        margin-bottom: 4rem;
                    }
                }
            }
        }
        .section-title {
            font-weight: 700;
            line-height: 2rem;
            &::after {
                content: '';
                background-color: #c4c4c4;
                height: 5px;
                width: 150px;
                display: block;
                margin: 1.25rem auto;
                @include respond(4xl) {
                    font-size: 3rem;
                    margin: 2rem auto;
                }
            }
            @include respond(4xl) {
                font-size: 3rem;
            }
        }
        .section-sub-head {
            color: #616161;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
        &.section-products {
            .products-list {
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                grid-auto-rows: 350px;
                @include respond(xs) {
                    grid-auto-rows: 250px;
                }
                @include respond(md) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-rows: 350px;
                }
                @include respond(2xl) {
                    grid-template-columns: 1.2fr 0.8fr 1fr;
                    grid-auto-rows: 300px;
                }
                @include respond(4xl) {
                    grid-template-columns: 1.3fr 0.7fr 1fr;
                    grid-auto-rows: 350px;
                }
                :nth-child(1),
                :nth-child(2) {
                    @include respond(2xl) {
                        grid-row: span 2;
                    }
                }
                .product {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    @include respond(xs){
                        display: flex;
                        flex-direction: row;
                    }
                    @include respond(md){
                        flex-direction: column;
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }
                    .product-img-container,
                    .product-content {
                        @include respond-max(md) {
                            flex: 1 1 100%;
                        }
                        @include respond-max(xs) {
                            flex: auto
                        }
                    }
                    .product-img-container {
                        img {
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    .product-content {
                        background-color: $primaryColor;
                        border: 1px solid #fff;
                        h4 {
                            font-weight: 600;
                        }
                        p {
                            color: #B4B4B4;
                        }
                        @include respond-max(md) {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        @include respond(md) {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -1rem;
                            width: calc(100% - 2rem);
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        &.section-projects {
            .project {
                .h4, p {
                    font-weight: 600;
                }
            }
        }
    }
    @include respond-max(lg){
        padding-top: $headerHeight;
    }
}