@mixin respond($breakpoint) {
  @if $breakpoint == 2xs {
    @media (min-width: 320px) { @content; }
  } @else if $breakpoint == xs {
    @media (min-width: 376px) { @content; }
  }@else if $breakpoint == sm {
    @media (min-width: 576px) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: 768px) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: 992px) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: 1200px) { @content; }
  } @else if $breakpoint == 2xl {
    @media (min-width: 1400px) { @content; }
  } @else if $breakpoint == 3xl {
    @media (min-width: 1600px) { @content; }
  } @else if $breakpoint == 4xl {
    @media (min-width: 1800px) { @content; }
  }
}

@mixin respond-max($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 375px) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: 575px) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: 767px) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: 991px) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: 1199px) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: 1399px) { @content; }
  } @else if $breakpoint == 2xl {
    @media (max-width: 1599px) { @content; }
  } @else if $breakpoint == 3xl {
    @media (max-width: 1799px) { @content; }
  } @else if $breakpoint == 4xl {
    @media (max-width: 1999px) { @content; }
  }
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($duration) {
    transition: $duration;
    -webkit-transition: $duration;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex-direction($direction: row) {
    @if $direction ==row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
        -moz-box-direction: reverse;
        -moz-box-orient: horizontal;
    }

    @else if $direction ==column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
    }

    @else if $direction ==column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        -moz-box-direction: reverse;
        -moz-box-orient: vertical;
    }

    @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-direction: normal;
        -moz-box-orient: horizontal;
    }

    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin justify-content($value: flex-start) {
    @if $value ==flex-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
    }

    @else if $value ==flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
    }

    @else if $value ==space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
    }

    @else if $value ==space-around {
        -ms-flex-pack: distribute;
    }

    @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
    }

    -webkit-justify-content: $value;
    justify-content: $value;
}

@mixin align-items($value: stretch) {
    @if $value ==flex-start {
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
    }

    @else if $value ==flex-end {
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
    }

    @else {
        -webkit-box-align: $value;
        -moz-box-align: $value;
        -ms-flex-align: $value;
    }

    -webkit-align-items: $value;
    align-items: $value;
}